# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://postgres:password@localhost:5432/tolongin_db?schema=public"

# Authentication / Security
JWT_SECRET="supersecretjwtkey_for_tolongin_platform_2026"
JWT_EXPIRATION="7d"

# Port
PORT=3000
